<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss} [%thread] %-5level %logger{36}: %msg%n
     </pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="stdout" />
  </root>

  <logger name="MCTS" level="warn" />
</configuration>
